# Auto detect text files and perform LF normalization
* text=auto
Assets/Resources/Prefabs/MonsterPrefab/Monster_Wolf_LupiBoreas_Model/Monster_Wolf_LupiBoreas_Model.fbx filter=lfs diff=lfs merge=lfs -text
